<table class="table">
<thead class="thead-light">
<tr>
  <th scope="col">name</th>
  <th scope="col">faction</th>
  <th scope="col">force</th>
  <th scope="col"></th>
</tr>
</thead>

<tbody *ngIf="sithList.length > 0; else emptyList">
<tr *ngFor="let sithListInfo of sithList">
  <mat-sith-list-info [sithListInfo]="sithListInfo" (sithClick)="showDetails(sith)"></mat-sith-list-info>
</tr>
</tbody>

<ng-template #emptyList>
  <td colspan="3">La liste est vide</td>
</ng-template>
</table>

<div class="alert alert-light">
  {{ sithList|json }}
</div>
<app-simple-counter [startAt]="0" [step]="0.01" [delay]="2" [endAt]="10" [digits]="2"></app-simple-counter>

