<table class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col">name</th>
    <th scope="col">faction</th>
    <th scope="col">force</th>
    <th scope="col"></th>
  </tr>

  </thead>

  <tbody *ngIf="jediList.length > 0; else emptyList">
  <tr *ngFor="let jediListInfo of jediList">
    <mat-jedi-list-info [jediListInfo]="jediListInfo" (jediClick)="showDetails(jedi)"></mat-jedi-list-info>
  </tr>

  </tbody>

  <ng-template #emptyList>
    <td colspan="3">La liste est vide</td>
  </ng-template>
</table>

<div class="alert alert-light">
  {{ jediList|json }}
</div>
<app-simple-counter [startAt]="0" [step]="0.01" [delay]="2" [endAt]="10" [digits]="2"></app-simple-counter>

